appnope==0.1.0
backcall==0.1.0
blis==0.7.4
catalogue==2.0.3
certifi==2019.11.28
cffi==1.14.0
chardet==4.0.0
click==7.1.2
cymem==2.0.5
decorator==4.4.2
en-core-web-md==3.0.0
idna==2.10
importlib-metadata==3.10.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.3
joblib==0.14.1
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.18.1
packaging==20.9
pandas==1.0.1
pantab==1.0.1
parso==0.6.2
pathy==0.4.0
pexpect==4.8.0
pickleshare==0.7.5
preshed==3.0.5
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.25.1
scikit-learn==0.21.3
scipy==1.4.1
six==1.14.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.1
tableauhyperapi==0.0.10002
thinc==8.0.2
tqdm==4.60.0
traitlets==4.3.3
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.1.8
zipp==3.4.1
